<h3>Movie Title</h3>
<% if @movies == nil %>
   Not a valid search
<% else %>
  <% @movies.each do |movie| %>
    <p><%= link_to movie.title, movie_path(movie.id) %> - Rating: <%= movie.vote_average %></p>
  <% end %>
<% end %>

<p><%= button_to "Discover Movies", discover_index_path, method: :get %></p>
